#{extends 'main.html' /}
#{set title:'Place' /}

<div itemscope itemtype="${place.value("rdf:type")}">
<h1>Place</h1>
Phone: <span itemprop="telephone">${place.value("schema:telephone")}</span>
<a href="${place.value("schema:geo")}">Geocoordinates</a>

#{list items:place.values("schema:name"), as:'name'}
<p>
<span itemprop="name">${name}</span>
</p>
#{/list}
</div>

<script type="text/javascript">
//$(document).ready(function() {
//    $.getJSON('/place/${placeId}.json', function(data) {
//    	  for(i in data.head.vars) {
//    		  var p = data.head.vars[i];
//    		  var value = data.results.bindings[0][p].value;
//    		  $("[itemprop|='" + p + "']").text(value);
//    	  }
//    });      
//});
</script>